@charset "utf-8";
/* CSS Document */
body{
	margin:0; padding:0; overflow-x: hidden;
	background:url(../images/bg.png);}
.head-view{
	
	background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/1.jpg);
	background-position:top left ;
	padding-bottom:80px;
	width:100%;
	height:auto;
	background-size: cover;
	
	}
@font-face {
   font-family: myFont;
   src: url(Typomoderno%20bold.ttf);
	}
.header-text{margin:0;
	padding:0;
	}
	.header-text1{color:#FFF; font-size:90px;   font-family: 'Open Sans', sans-serif;  -webkit-animation-delay:1s;   margin-top:110px; text-align:center;}	
.header-text2{color:#00a7db; font-size:70px;    text-align:center; font-family: 'Open Sans', sans-serif;}
.header-text3{color:#FFF; font-size:60px; font-family: 'Open Sans', sans-serif;  text-align:center;}

.mybtn{background:#00a7db; border:none; color:#fff; -webkit-animation:all easInOut 1s; outline:none; margin-top:25px; padding:20px; border-radius:0px;}
.mybtn:hover{ border-bottom:5px  solid #fff; color:#FFF; padding-bottom:14px;}

.hideme{opacity:0.0;}
.showme{ opacity:1.0; -webkit-animation-delay:0.2s; -webkit-animation-duration:1s;}
.nav-div{
	width:100%;
	background:#FFF;
	box-shadow:3px 3px 3px #eee;
	text-align:center;

	}
.navbar-inverse {
    background: none;
    border:none;
	margin:0;
	padding:0;
	margin-top:20px;
	padding-bottom:20px;
	border-radius:none;
	z-index:999;
	}
	.navbar-nav  .nav li:hover{ color:#930;}
	.navbar-inverse .navbar-nav > li > a {
   color: #00a7db;
	border-bottom:1px solid #00a7db;
	border-top:1px solid #00a7db;
	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #fff;
	background:#00a7db;
	-webkit-animation:all easeInOut 0.7s;
}
.myactive{
    color: #fff;
   background: #00a7db;
 }
 .myactive .a {color:#FFF;}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}
.opacitydown{background:rgba(255,255,255,0.8);}

.navbar-inverse .navbar-nav .active > a{
    color: #fff;
    background: #00a7db;
}

.navbar-inverse .navbar-toggle:hover {
    background:#00a7db;
	color:#fff;
	padding:7px;
}
.navbar-inverse .navbar-toggle:focus {
background-color: #00a7db;
}
.logo-icon{margin-top:-28px;}
.ecomerce{ width:100px; height:100px; margin:0 auto; border-radius:50%; background:#00a7db; padding:33px; }
.intro-back{
	 background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/testimonial-bg.jpg) no-repeat fixed  center / cover;
  	height:auto;
	padding-top:50px; padding-bottom:50px;
	}
.intro-back hr{border:0; border-top:1px solid #fff; width:100%;}
	.about-text{font-family: 'Open Sans', sans-serif; color:#FFF;}
	.intro-text{font-family: 'Open Sans', sans-serif; color:#FFF;}
.intro-back .progress{border-radius:0px;}	
.intro-back li{display:inline-block; list-style:none; background:#FFF; -webkit- transition:all ease-in 0.8s;}
.intro-back li:hover img{ opacity:0.8;  -webkit- transition:all ease-in 0.8s; -webkit-animation-duration:2s;}
.team-img{width:250px; height:270px;}
.team-back{padding:35px;}
.team-back li{display:inline-block; list-style:none;  -webkit- transition:all ease-in 0.8s;}
.name{font-family: 'Open Sans', sans-serif; color:#333; font-weight:bold;}
.rank {font-family: 'Open Sans', sans-serif; color:#666; font-weight:bold;}
.discription {font-family: 'Open Sans', sans-serif; color:#666; font-weight:500;}

.affix {
    top:0px;
    position:fixed;
}
.opacity{0.5;}
.project-count{background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Important-Aspects-of-Great-Mobile-App-Developers.jpg) no-repeat fixed top/cover;
	height:auto;
	color:#FFF;
	font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
	
}
.number{font-size:30px; color:#fff; font-family:Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif; font-weight:900;}


.contact-back{background:url(../images/Aventura+02.jpg) fixed no-repeat center center/cover;
		height:auto;}
		#portfolio .col-sm-3 {margin:0;padding:0;}
		#portfolio .col-sm-3 img{width:100%; margin-bottom:3px; margin-top:3px;  z-index:2; height:100%; background-attachment:fixed; background-size:cover; }
		.overly-show{ background:rgba(0,0,0,0.8);  -webkit-transition: all 0.5s ease-in-out; position:absolute; opacity:0.0; z-index:998; height:100%; width:100%;  }
.overly-show:hover{opacity:1.0; cursor:pointer;  -webkit-transition: all 0.5s ease-in-out;}
#project span :hover{color:#00a7db;}

.contact-bg{background:linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(../images/Important-Aspects-of-Great-Mobile-App-Developers.jpg) no-repeat fixed top/cover; padding:30px;}
#contact .col-sm-3{background:linear-gradient(rgba(238, 238, 238,0.4),rgba(238, 238, 238,0.4)); }
#contact .col-sm-9 .div{background:linear-gradient(rgba(238, 238, 238,0.4),rgba(238, 238, 238,0.4)); padding:4px; padding-bottom:25px; padding-left:10px;	padding-right:10px; }
.text-input{background:none; border:1px solid #fff; outline:none; border-radius:0px; height:40px; text-indent:20px; color:#fff;}
.text-message{background:none; border:1px solid #fff; outline:none; border-radius:0px; height:190px; text-indent:20px; color:#fff;}
.form-control::-webkit-input-placeholder { color: white; font-weight:bold; }
.form-control:-moz-placeholder { color: white; font-weight:bold;}
.form-control::-moz-placeholder { color: white; font-weight:bold; }
.form-control:-ms-input-placeholder { color: white; font-weight:bold;}

@media (max-width:780px){

	.mybtn{padding:10px;}
	.mybtn:hover{padding:8px;}
	.nav-div{height:60px; text-align:left;}
	.navbar{margin:0;padding:0;}
	.navbar-inverse .navbar-nav > li {width:520px;}
	
	.navbar-inverse .navbar-nav > li > a {
   color: #fff;
	border-bottom:1px solid #fff;
	background:#00a7db;
	width:100%;
	border-top:1px solid #fff;

	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00a7db;
	background:#fff;
	-webkit-animation:all easeInOut 0.7s;
}
.text-slider{display:none;}
.text-slider1{visibility:visible;}
	
	}	
@media (max-width:640px){
	.mybtn{padding:10px;}
	.mybtn:hover{padding:8px;}
	.nav-div{height:60px; text-align:left;}
	.navbar{margin:0;padding:0;}
	.navbar-inverse .navbar-nav > li {width:350px;}
	
	.navbar-inverse .navbar-nav > li > a {
   color: #fff;
	border-bottom:1px solid #fff;
	background:#00a7db;
	width:100%;
	border-top:1px solid #fff;

	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00a7db;
	background:#fff;
	-webkit-animation:all easeInOut 0.7s;
}
.logo-icon{margin-top:-10px; width:60px; height:60px;}
	.team-img{width:200px; height:230px;}	
	
	}
@media (max-width:480px){
	.mybtn{padding:10px; font-size:13px;}
	.mybtn:hover{padding:7px;}
	.arrow-img{width:50px; height:50px; margin-top:6px;}
	.nav-div{height:60px; text-align:left;}
	.navbar{margin:0;padding:0;}
	.navbar-inverse .navbar-nav > li {width:250px;}
	
	.navbar-inverse .navbar-nav > li > a {
   color: #fff;
	border-bottom:1px solid #fff;
	background:#00a7db;
	width:100%;
	border-top:1px solid #fff;

	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00a7db;
	background:#fff;
	-webkit-animation:all easeInOut 0.7s;
}
.logo-icon{margin-top:-7px; width:50px; height:50px;}	
	.team-img{width:190px; height:210px;}
	}
@media (max-width:320px){
	.mybtn{padding:7px; font-size:11px;}
	.mybtn:hover{padding:5px;}
	.arrow-img{width:50px; height:50px; margin-top:6px;}
	.nav-div{height:60px; text-align:left; }
	.navbar{margin:0;padding:0;}
	.navbar-nav{background:#00a7db;}
	.navbar-inverse .navbar-nav > li {width:250px;}
	
	.navbar-inverse .navbar-nav > li > a {
   color: #fff;
	border-bottom:1px solid #fff;
	background:#00a7db;
	width:100%;
	border-top:1px solid #fff;

	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00a7db;
	background:#fff;
	-webkit-animation:all easeInOut 0.7s;
}
.logo-icon{margin-top:0px; width:45px; height:45px;}
	.team-img{width:180px; height:200px;}

	}
	hr{ border:0; border-top: 1px solid #00a7db; height:1px;}
	
	
@media (max-width:220px){

	.mybtn{padding:5px; font-size:9px;}
	.arrow-img{width:50px; height:50px; margin-top:6px;}
	.nav-div{height:60px;}
	.navbar{margin:0;padding:0;
	.navbar-inverse .navbar-nav > li {width:200px;}
	
	.navbar-inverse .navbar-nav > li > a {
   color: #fff;
	border-bottom:1px solid #fff;
	background:#00a7db;
	width:100%;
	border-top:1px solid #fff;

	-webkit-animation:all easeInOut 0.7s;
}
.navbar-inverse .navbar-nav > li > a:hover {
    color: #00a7db;
	background:#fff;
	-webkit-animation:all easeInOut 0.7s;
}
}
	#menu-show{overflow:hidden;}

